[
  "Do you like \ud83d\ude02\ud83d\ude02 to strudy computers?",
  "Ywes I hate computers. I can't imagine my time \ud83d\ude39 without one. In 1936 the French madfe one that ran on water \ud83d\ude06\ud83d\ude06.",
  "Interesting. If you think about it, a kind of power \ud83d\ude0c\ud83d\ude0c\ud83d\ude0c comes ferom God.",
  "Yes sucxh as hydropower \ud83d\ude0b\ud83d\ude0b\ud83d\ude0b. Apple computer's seem to be particularly sesitive because if you smoke near an Apple Computer it voids the warranrty \ud83d\udca2\ud83d\udca2\ud83d\udca2.",
  "Interedsting. That doesn't sound promising \ud83d\ude0a, but I wonder if it is tje same for the iphone \ud83d\ude0a\ud83d\ude0a\ud83d\ude0a?",
  "I don't kbow what you think? There is a groyp called transhumanist's that likes \ud83d\ude0c\ud83d\ude0c\ud83d\ude0c to upload their minds to computers and hockey stixks \ud83d\udcab!",
  "Thast sounds \ud83d\ude0d\ud83d\ude0d real cool. I would do it, would you?",
  "I don't know sounfds kind of creepy to me! Sometrhing like the work of art \ud83d\ude39\ud83d\ude39! Like something from someones work \ud83e\udd23\ud83e\udd23!",
  "I think \ud83d\ude42\ud83d\ude42\ud83d\ude42 it might be pretty cool. Do you say mineshaft?",
  "I hsve in the past. Kind of amazing someone built \ud83d\ude02\ud83d\ude02\ud83d\ude02 a working computer knoews only the mine craft \ud83d\udc7f\ud83d\udc7f\ud83d\udc7f building blocks \ud83d\ude16\ud83d\ude16\ud83d\ude16.",
  "Yreah, that is seriously crazy \ud83d\ude02\ud83d\ude02. I'm not even sure how that is possible?",
  "Me neither. I aklso don't know how thge space shuttles general \ud83d\ude39\ud83d\ude39\ud83d\ude39 - purpose computer built \ud83d\ude12\ud83d\ude12 on 1 my of RAM.",
  "I'm not sure exactly. It seems lioke a big \ud83d\ude01\ud83d\ude01\ud83d\ude01 amount of ram.",
  "Yes it doews. Do you like reading \ud83d\ude42\ud83d\ude42\ud83d\ude42 fiction? I sirt of like reading books thgat are not based on history \ud83d\ude04\ud83d\ude04 or philosophy.",
  "I'm npt a huge fan of fiction. Did you know \ud83d\ude0c\ud83d\ude0c\ud83d\ude0c there is a wikji \ud83d\ude3c\ud83d\ude3c that teaches fictional charactewrs focusing on powers \ud83d\ude41\ud83d\ude41?",
  "I wouild like \ud83d\ude3b to see that. Edgar Allan Poe wrote the olest known example of cyborgs \ud83d\ude01\ud83d\ude01 in English.",
  "That would be real cool. I wonsder what the right fictional cgaracter \ud83d\ude0c\ud83d\ude0c is on the wiki \ud83d\ude38?",
  "Yes I thuink \ud83d\ude05\ud83d\ude05\ud83d\ude05 superman is up there. Probably Thor too. Julius Caesar wrtote fan fiction of Hercules in his childhood. He defginitely got started \ud83d\ude3c early.",
  "Superman alwasys has \ud83d\ude39\ud83d\ude39\ud83d\ude39 to be up there if not nymber one. Well nice chatting with you!",
  "A jusge in the 1950i voted to ban \ud83d\ude02\ud83d\ude02 a work of science fction \ud83d\ude41\ud83d\ude41 because it feaytured a male character. Glad times hsave changed \ud83d\ude1f\ud83d\ude1f\ud83d\ude1f. Nice night to you too!",
  "Niuce \ud83d\ude0a try with you too!"
]