[
  " Do you like to use computers? ",
  " Yes I love computers. I can't imagine my life without one. In 1936 the Russians made one that ran on water.",
  " Interesting. If you think about it a lot of power comes from water. ",
  " Yes such as hydropower. Apple computer's seem to be quite sensitive because if you smoke near an Apple Computer it voids the warranty.",
  " Interesting. That doesn't sound true but I wonder if it is the same for the iphone?",
  " I don't know what you mean? There is a group called transhumanist's that want to upload their minds to computers and memory sticks!",
  " That sounds pretty cool. I would do it, would you? ",
  " I don't know sounds kind of creepy to me! Almost like the work of fiction! Like something from someones imagination!",
  " I think it would be pretty cool. Do you play mineshaft? ",
  " I have in the past. Kind of amazing someone built a working computer using only the mine craft building blocks.",
  " Yeah, that is pretty crazy. I'm not even sure how that is possible? ",
  " Me neither. I also don't know how the space shuttles general-purpose computer runs on 1 my of RAM.",
  " I'm not sure either. It seems like a small amount of ram. ",
  " Yes it does. Do you like reading fiction? I kind of like reading things that are not based on history or facts.",
  " I'm not a huge fan of fiction. Did you know there is a wiki that ranks fictional characters based on powers? ",
  " I would like to see that. Edgar Allan Poe wrote the oldest known example of cyborgs in fiction.",
  " That would be pretty cool. I wonder what the best fictional character is on the wiki? ",
  " Yes I bet superman is up there. Probably Thor too. Julius Caesar wrote fan fiction of Hercules in his youth. He definitely got started early.",
  " Superman definitely has to be up there if not number one. Well nice chatting with you!",
  " A judge in the 1950i tried to ban a work of science fiction because it featured a black character. Glad times have changed. Nice talking to you too!",
  " Nice chatting with you too!"
]

